.btnFacebook { 
    height:38px;
    width: 38px;
    border-radius: 50%;
    background: #3b5998;
    color:white;
    border:0px transparent;
    text-align: center;
    margin:5px;
    display: inline-block;
  }